h1{
  background-color:purple;
  padding: 25px;
  margin: 50px;
  border-color: pink;
  border-width:15px;
  border-style:solid;
  background-color: lightblue;
}
 h3{
   color: rgb(50,155,155,);
 }
 h4{
   color:black;
   p.dotted {border-style:dotted;}

 }
 div{
   width: 50%;
   height: 50%;
   background-image: url("../inde.css");
   border-color: darkblue;
 }

 body {
  background-color: #ffff47;
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: right top;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
a {
  font-family: fantasy;
  font-size: 12px;
  color:black;
  backgorund-color: blue;
}
button{
  font-famliy: fantasy;
  font-size: 12px;
  color:black;
  background-color: bisque;
  border: solid;
  border-width:2px;
  border-color: black;
  border-radius: 15%;
}
.button:active{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
  'Lucida Grande',
  'Lucoda Sans', Arial, sans-serif;
  color: lightgreen;
  font-size-adjust: +5px;
  background-color: blueviolet;
  border-width:4px;
  border-color: black;
  border-radius: 15%;
}